services:
  web:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./app:/var/www/html
    depends_on:
      - db
    environment:
      DB_SERVER: db
      DB_USERNAME: root
      DB_PASSWORD: root
      DB_NAME: logintest
      APP_PEPPER: "8f9aD1KQpZ_0!Lx2C@M9rA#7YhF$5"

  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: logintest
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/01-init.sql:ro

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    depends_on:
      - db

volumes:
  dbdata:
